<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finace calculator</title>
    <link rel="stylesheet" href="add.css">
</head>
<body>
    <form action="/form" method="post">
        <div class="add">
            <input class="amount" type="text" name="amount" placeholder="Amount">
            <textarea name="title" placeholder="Desc"></textarea>
            <div class="profit">
                <input class="checkbox" id="myCheckbox" type="checkbox" name="type">
                <p>Is profit</p>
            </div>
        </div>
        <div class="button">
            <button class="save" type="submit">Save</button>
            <a href="">Reset</a>
        </div>
    </form>
    <script src="/click.js"></script>
</body>
</html>