<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finace calculator</title>
    <link rel="stylesheet" href="/css/add.css">
</head>
<body>
    <div class="container">
        <div class="title">
            <a href="/balance/">
                <img src="/img/strelka.svg">
            </a>
            <h2>Add Transaction</h2>
        </div>
        <div class="card">
            <h2>Transaction Details</h2>
            <form action="/balance/form" method="post">
                <div class="add">
                    <h4>Amount</h4>
                    <input class="amount" type="text" name="amount" placeholder="0.00">
                    <h4>Title</h4>
                    <textarea name="title" placeholder="Enter ransaction title"></textarea>
                    <input class="amount" type="date" name="date" id="">
                    <div class="profit">
                        <div>
                            <input type="checkbox" id="check" name="type" class="checkbox">
                            <p class="expense">Expense</p>
                            <label for="check">
                                <div class="button_profit">
                                    <div class="circle"></div>
                                </div>
                            </label>
                            <p class="income">Income</p>
                        </div>
                    </div>
                </div>
                <div class="button">
                    <button class="save" type="submit">Add Transaction</button>
                    <a href="/balance/">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>