<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finace calculator</title>
    <link rel="stylesheet" href="/css/finance.css">
    <link rel="stylesheet" href="/css/table.css">
</head>
<body>
    <div class="container">
        <div class="add">
            <h2>My Account</h2>
            <div class="users">
                <a class="add_tr" href="./add">Add Transaction</a>
                <div class="logout">
                    <input type="checkbox" id="check">
                    <label class="icon" for="check">
                        <img id="user" src="/img/user.svg">
                    </label>
                    <div class="menu">
                        <label for="check">
                            <img id="x" src="/img/x.svg">
                        </label>
                        <a href="/auth/logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <h3>Current Balance</h3>
            <h1 class="<%= remaining >= 0 ? "income_amount" : "expense_amount" %>">
                <%= remaining >= 0 ? "" : "-" %>$<%= Math.abs(remaining) %>
            </h1>
        </div>

        <% if (transactions.length > 0) { %>
        <div class="card">
            <h3>Recent Transactions</h3>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Amount</th>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
                <% transactions.forEach(function(transaction){ %>
                    <%- include('table/row', { transaction: transaction }) %>
                <% }); %>
            </table>
        </div>
        <% } %>
    </div>
</body>
</html>