<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/css/add.css">
</head>
<body>
    <div class="container">
        <div class="title">
            <a href="/balance/">
                <img src="/img/strelka.svg">
            </a>
            <h2>Edit Transaction</h2>
        </div>
        <div class="card">
            <h2>Transaction Details</h2>
            <form action="/balance/update/<%= transaction.id %>" method="post">
                <div class="add">
                    <h4>Amount</h4>
                    <input class="amount" type="text" name="amount" placeholder="0.00" value="<%= transaction.amount %>">
                    <h4>Title</h4>
                    <textarea name="title" placeholder="Enter ransaction title"><%= transaction.title %></textarea>
                    <input class="amount" type="date" name="date" placeholder="dd.mm.yyyy">
                    <div class="profit">
                            <input type="checkbox" id="check" name="type" class="checkbox">
                            <p class="expense">Expense</p>
                            <label for="check">
                                <div class="button_profit">
                                    <div class="circle"></div>
                                </div>
                            </label>
                            <p class="income">Income</p>
                    </div>
                </div>
                <div class="button">
                    <button class="save" type="submit">Edit Transaction</button>
                    <a href="/balance/">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>