<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finace calculator</title>
    <link rel="stylesheet" href="/css/finance.css">
    <link rel="stylesheet" href="/css/table.css">
</head>
<body>
    <div class="add_and_remaining">
        <a class="add" href="./add">ADD</a>
        <h1>$<%= remaining %></h1>
    </div>
    <table>
        <tr>
            <th>Title</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        <% transactions.forEach(function(transaction){ %>
            <%- include('table/row', {transaction}); %>
        <% }); %>
    </table>
</body>
</html>