*{
    padding: 0;
    margin: 0;
    color: #1e2939;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";  
}
body{
    background-color: oklch(.985 .002 247.839);
}

/* Checkbox görünmesin */
#check {
    display: none;
}

.button_profit {
    display: flex;
    align-items: center;
    width: 35px;
    height: 20px;
    background-color: #cbced4;
    border-radius: 50px;
    cursor: pointer;
    padding: 2px;
    transition: justify-content 0.4s ease, background-color 0.4s ease;
}
.circle {
    top: 2px;
    left: 2px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
}

.income {
    color: #cbced4;
}

.expense {
    color: red;
}

/* Toggle aktif olunca */
#check:checked ~ label .button_profit {
    justify-content: end;
    background-color: black;
}

#check:checked + label .circle {
    transform: translateX(15px);
}

#check:checked ~ .income {
    color: green;
}

#check:checked ~ .expense {
    color: #cbced4;
}

.profit div{
    display: flex;
    gap: 10px;
    align-items: center;
}

.container{
    padding: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    width: 588px;
    display: flex;
    gap: 14px;
    margin-bottom: 21px;
}
.title img{
    width: 14;
    height: 17.500px;
    padding: 7px 10.5px;
    border-radius: 6.75px;
}
.title h2{
    font-size: 26.25px;
    font-weight: 500;
}
form{
    gap: 40px;
}
.add{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.checkbox{
    display: flex;
    justify-content: start;
    width: 14px;
}
.button{
    display: flex;
    gap: 10.5px;
}
.button a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 50px;
    border: 1px solid black;
    padding: 10.500px 14px;
    font-weight: 500;
    font-size: 12.25px;
    width: 80.63px;
    height: 10.500px;
}
.amount{
    width: 523px;
    height: 22.500px;
    background-color: #f3f3f5;
    font-size: 12.25px;
    border-radius: 8.75px;
    padding: 5px;
    border: none;
    margin-bottom: 21px;
}
.add textarea{
    width: 523px;
    font-size: 22px;
    height: 190px;
    background-color: #f3f3f5;
    font-size: 12.25px;
    border-radius: 8.75px;
    padding: 5px;
    border: none;
    resize: none;
    overflow: auto;
    margin-bottom: 21px; 
}
.checkbox{
    border-radius: 50px;
    background-color: #f3f3f5;
}
.profit{
    display: flex;
    gap: 15px;
}
.profit p{
    font-size: 16px;
}
.save{
    width: 456.88px;
    margin-top: 40px;
    color: #ffffff;
    text-decoration: none;
    background-color: #0d6efd;
    border-radius: 50px;
    padding: 10.500px 14px;
    border: none;
    font-weight: 500;
    font-size: 12.25px;
}
.card{
    width: 546px;
    padding: 21px;
    background-color: #ffffff;
    border-radius: 12.75px;
}
.card h2{
    font-size: 17.5px;
    font-weight: inherit;
    margin-bottom: 21px;
}
.add h4{
    font-weight: 500;
    font-size: 12.25px;
    margin-bottom: 7px;
}