body{
    background-color: #aaaaaa;
    display: flex;
    flex-direction: column;
}
a{
    width: 100px;
    display: flex;
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
    background-color: #0d6efd;
    border-radius: 50px;
    padding: 3px 15px;
    font-size: 22px;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.table{
    width: 90%;
    height: 40px;
    margin:0px 100px;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    background-color: #3d3d3d;
    border: 2px solid white;
}
.table h3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    color: #ffffff;
    border: 1px solid white;
}
.add_and_remaining{
    display: flex;
    gap: 50px;
    align-items: center;
}
.add_and_remaining h1{
    font-weight: 400;
}